In [1]:
print("hello world", end ="-")
print("hello me")

hello world-hello me

In [ ]:
call by object reference

multi line string

In [6]:
address ="""street name
city name
state 
pincode"""

In [7]:
print(address)

street name
city name
state
pincode

In [8]:
# formatting string
name =  "mrityunjay"
company = "futurense"
print(f"my name is {name} and i work in {company}")

my name is mrityunjay and i work in futurense

In [9]:
# today implementation assignment
# use the formatting for converting the float number into string

In [12]:
grade = 7.26
grade = f"{grade}"
print("my grade are {}".format(grade))

my grade are 7.26

In [14]:
print(type(grade))

<class 'str'>

In [ ]:
# operators
'''
Assignment
Comparison
Logical
Bitwise
Membership
Identity

'''

In [40]:
# priority order
"""
** exponent (ritght to left)
/ * // % * (same priority but less than exponent) OOE (left to right)
+ - (least priority) OOE (left to right)
"""

'\n** exponent (ritght to left)\n/ * // % * (same priority but less than exponent) OOE (left to right)\n+ - (least priority) OOE (left to right)\n'

In [17]:
# Assignment

# literal is 10 here
x = 10

# right hand side expression
x = x+ 5
# or
x+= 5

# +=, *=, /=

In [18]:
# comparison

# >, >=, < , <=, !=

In [37]:
# logical operator

# condition => valid (one or two)

In [36]:
# bitwise operator
'''
      8421
0-15

7     0111
13    1101

&     0101

7 & 13 = 5

|     1111

7 | 13 = 15

'''

'\n      8421\n0-15\n\n7     0111\n13    1101\n\n&     0101\n\n7 & 13 = 5\n\n|     1111\n\n7 | 13 = 15\n\n'

In [19]:
7 & 13

5

In [20]:
7 | 13

15

In [21]:
# bitwise right operator 
# bitwise left operator

In [23]:
# membership operator

# in , not in

In [24]:
# identity - it validates if the data type is the class or not

x = 10
type(x) is int

True

In [25]:
# python
# terminologies
# data type
# mutable vs immutable
# operator
# string formatting

In [26]:
# is operator check the memory address of objects

In [28]:
x = 20 
y = 10

x is y

False

In [ ]:
# operator priority order

In [35]:
# bro
'''
P – Parentheses
E – Exponentiation
M – Multiplication
D – Division
A – Addition
S – Subtraction

'''

'\nP – Parentheses\nE – Exponentiation\nM – Multiplication\nD – Division\nA – Addition\nS – Subtraction\n\n'

In [41]:
# --> Assignment
# Q--Difference between .py and .pyc file?
# Q--When we create a variable in which memory it is created? 
# Q--Identifier vs Keyword?
# Q-- to implement bitwise xor

In [42]:
city = "BANGALORE"
city[-1:-4]

''

In [43]:
city[-1:5:-1]

'ERO'

In [44]:
# Take two input from the user and validte the input given if it's integer then 
# perform the arithmetic operation other ask arthemetic funtion

In [54]:
input1 = input("Enter first number ")
input2 = input("Enter first number ")

if 
if type(input1) is str and type(input2) is str:
    print("Not int")
else:
    print(input1 + input2)

Enter first number 5
Enter first number 5
<class 'str'>
Not int

In [55]:
n = input("Enter first number ")

if n == int(n):
    print("yes")
else:
    print("No")

Enter first number 6
No

In [56]:
# - Take a string from user in case if we find out any character in 
# repetition

In [132]:
strin =  input("Enter the string ")
a = []
b = []
prev = ''
for x in strin:
    if x == prev :
        continue
    else:
        a.append(x)
    

    prev = x

print("".join(a))

Enter the string hello
helo

In [115]:
a = "hello"
print(len(a))

5

In [89]:
a

['h', 'e', 'l', 'l', 'o']

In [90]:
a

'h'

In [105]:
strin =  input("Enter the string ")
a=[]
for x in strin:
    count = 0 
    for y in strin:
        if x == y:
            count +=1
    if x not in a: 
        print(x, count)
        a.append(x)

Enter the string hello
h 1
e 1
l 2
o 1

In [133]:
# Take an input from the user and validate the input based on

In [142]:
for x in range(0,4):
    for y in range(0,4):
        if y<=x:
            print("*" ,end=" ")
    print(end="\n")

* * * *
* * * *
* * * *
* * * *

In [138]:
for x in range(0,4):
    for y in range(0,4):
        if y>=x:
            print("*", end =" ")

            print(end = "\n")

* * * *
* * *
* *
*

In [153]:
for x in range(0,4):
    a = 'A'
    for y in range(0,4):
        if y<=x:
            print(a ,end=" ")
            a = chr(ord(a)+1)
    print(end="\n")

A
A B
A B C
A B C D

In [150]:
a = 'A'
for x in range(0,4):
    for y in range(0,4):
        if y<=x:
            print(a ,end=" ")
            a = chr(ord(a)+1)
    print(end="\n")

A
B C
D E F
G H I J

In [155]:
for x in range(0,4):
    a = 1
    for y in range(0,4):
        if y<=x:
            print(a ,end=" ")
            a = a + 1
    print(end="\n")

1
1 2
1 2 3
1 2 3 4

In [156]:
a = 1
for x in range(0,4):
    for y in range(0,4):
        if y<=x:
            print(a ,end=" ")
            a = a + 1
    print(end="\n")

1
2 3
4 5 6
7 8 9 10

In [194]:
n=6
for x in  range(1, n):
    for y in range(1,n-1):
        print(" ", end=" ")
    n = n-1
    for j in range(0, ((2*x) - 1)):
        print("*", end =" ")
    print(end="\n")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [206]:
n = 6
z = n-1
for x in  range(n-1,0,-1):
    for y in range(1, n-z):
        print(" ", end=" ")
    n = n+1
    for j in range(0, ((2*x) - 1)):
        print("*", end =" ")
    print(end="\n")

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [233]:
n = 5 
for x in range(1, n+1):
    for y in range(1,n+1):
        if x == 1 or x == n or y == 1 or y == n:
            print("*", end= " ")
        else:
            print(end="  ")
    print(end = "\n")

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
for x in range(1,4):
    for y in range()

In [ ]:
#  Q-   * * * * *
#         * * *
#           *

In [ ]:
# Q-     * * * *
#        *     *
#        *     *
#        * * * *

In [234]:
# 1
# 2 4
# 3 6 9
# 4 8 12 16

# Q- Take a input from the user and check the data based on the condition
- The data should be of string data type
- The length of the input should lie in th range from 6 to 15 character in length
- The input should have atleasr 1 capital letter (A to Z)
- 1 small letter (A to J)
- 1 Number (0 to 9)
- 1 special character( #, @, $, %)

In case any of the condition is not valid ask for the input from 
    the user upto 4 times othewise exit the program by putting mesasge input given is wrong

In [284]:
def passcheck(password, count, trial):
    if len(password) in range(6,16):
        for x in password:
            if ord(x) in range(65,91):
                count.append(1)
            elif ord(x) in range(97,123):
                count.append(2)
            elif ord(x) in range(48, 58):
                count.append(3)
            elif ord(x) in [32, 47, 58, 64, 91, 96, 123, 126]:
                count.append(4)
        if [1,2,3,4] == list(set(count)):
            print("Password satisfied")
        elif trial == 3:
            print("Not Valid Exiting Now")
        else:
            print("Try again ")
            n = input("Enter password again ")
            trial = trial+1
            passcheck(n, count, trial)
    elif trial == 3:
            print("Not Valid Exiting Now")
    else:
        print("Try again ")
        n = input("Enter password again ")
        trial = trial+1
        passcheck(n, count, trial)

password = input("Enter the password ")
passcheck(password, [],0)

Enter the password manu@1
Try again
Enter password again asdasddjo@1
Try again
Enter password again nifsdofij@9
Try again
Enter password again djsnfdw@
Not Valid Exiting Now

In [ ]:
create a alist  multiple element of diff type in case if the element is of str 
data type then try to delete the element from list 
otherwise create the square of the numbewr and update in the list

In [256]:
m = [1,3,5,8,'t','j']
x = []
for i in range(0,len(m)):
    if type(m[i]) == str:
        pass
    else:
        x.append(m[i])
x = [i**2 for i in x]
x

[1, 9, 25, 64]

In [243]:
m

[1, 9, 25, 64, 'j']

In [ ]:
mytuple = 10,"A"

# Q - why we are able to create empty tuple?

# Q - find out diff between tuple and list?

# Q - find out diff between tuple and list

# Q- Assignment - How to launch an ec2 instance with python
###    (boto3 library)
###    - error in ami

In [301]:
d = {'a':1,'b':2}

In [306]:
d.fromkeys('a')

{'a': None}

# Q-   Difference between zip and enumerate method?

In [311]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [312]:
t = (10,20,(10,3))

In [ ]:
# Q - perform union , difference, isdisjoint, symetric_difference_update, issupersubset

In [313]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [348]:
set1 = set({4,3})
set2 = set({3,4,5,6})

In [315]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [323]:
set1.difference(set2)

{1, 2}

In [320]:
set1.isdisjoint(set2)

True

In [345]:
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5, 6}

In [350]:
set1.issubset(set2)

True

In [ ]:
# Q- Take an input string from user and return all the unique words from the string
    Input  = "hey user hey tushar hope you are doing well. hey you"
    Output = "hey user tushar hope you are well."

In [364]:
Input  = "hey user hey tushar hope you are doing well. hey you"

In [365]:
Input =Input.split(" ")

In [367]:
setInput = set(Input)

In [371]:
(" ").join(x for x in list(setInput))

'well. hope user you tushar hey doing are'

# Q-  In the string find out how many vowels are present with its count

In [377]:
n = 'Futurense'
n = list(n)
dict1 = {}
for x in n:
    if x in ['a','e','i','o','u']:
        dict1[x] = n.count(x)
dict1

{'u': 2, 'e': 2}

In [ ]:
# Q- Take a input from the user and check for the smallest / least occurance of the character and show in the final 
 output with its occurance in case there is a tie any of the count of first character appearance

In [385]:
n = 'Futurense'
n = list(n)
dict1 = {}
for x in n:
    if x in ['a','e','i','o','u']:
        dict1[x] = n.count(x)
#print(min(dict1.values()))
for key, value in dict1.items():
    if value == min(dict1.values()):
        print(key, value)
        break

u 2

In [428]:
Q1 = input("Enter first queen coordinate in 4 by 4 chess ")
Q2 = input("Enter second queen coordinate in 4 by 4 chess ")

Enter first queen coordinate in 4 by 4 chess 1,1
Enter second queen coordinate in 4 by 4 chess 2,1

In [429]:
x1, y1 = Q1.split(",")
x2, y2 = Q2.split(",")

In [436]:
def queencheck(x1,y1,x2,y2):
    if int(x1) == int(x2) or int(y1) == int(y2):
        print("Kill")
    elif int(x1)-int(x2) == int(y2)-int(y1) :
        print("Kill")
    elif int(x1) == int(y1) and int(x2) == int(y2):
        print("Kill")
    else:
        print("Safe")

In [440]:
queencheck(1,1,3,1)

Kill

## Q- Check the input string provided by the user, in case the string provided is 
## starting with the vowel we add on ing in the last  otherwise we add on esy in the end of the string?

In [412]:

n = 'easter'

In [413]:
if n[0] in ['a','e','i','o','u']:
    n = n + 'ing'
else:
    n = n + 'esy'
print(n)

eastering

In [ ]:
topics for tomorrow
 -  functional programming
 -  Parameter vs Argumen

In [414]:
mylist = [(1,2),(2,3),(3,4)]
d = dict(mylist)

In [415]:
d

{1: 2, 2: 3, 3: 4}

In [420]:
set1 = {10,20,30,40, (10,20), "sth"}

In [421]:
for x in set1:

20
sth
40
10
30
(10, 20)

### Find the second largest element in a list in an optimal way.

In [481]:
l = [1,2,3,5,67,8,76,68,94,57]

In [471]:
l.remove(max(l))

In [472]:
max(l)

76

In [482]:
max([x for x in l if x < max(l)])

76

In [483]:
import pandas as pd
df =  pd.read_csv('sales.csv')

In [484]:
df.head()

   sales  c_id  p_id  product  qty store
0  24222     2     3  Monitor    2   ABC
1   3243     2     4      CPU    1   DEF
2   5634     1     3  Monitor    3   ABC
3  43234     4     2      RAM    2   DEF
4   2342     2     3  Monitor    3   ABC

In [490]:
df.groupby(pd.Grouper(key= 'c_id')).mean()

        sales  p_id  qty
c_id
2      7281.6   3.0  2.2
1      5634.0   3.0  3.0
4     43234.0   2.0  2.0
3     11888.0   2.5  2.0

In [494]:
df.groupby(by='c_id').mean()

        sales  p_id  qty
c_id
1      5634.0   3.0  3.0
2      7281.6   3.0  2.2
3     11888.0   2.5  2.0
4     43234.0   2.0  2.0

In [506]:

count = 0
for x in range(1,10):
    for y in range(1,10):
        if (x + y)%2 ==0:
            count = count+1
print(count)

41

In [499]:
b = 2
c = 3
d = str(2) + str(3)

In [501]:
int(d)

23

In [525]:
s = 'trindowejo'
s = list(s)
for i in range(0, len(s)//2):
    c=''
    c = s[i]
    s[i] = s[-(i+1)]
    s[-(i+1)] = c
    
p = ("").join(x for x in s)

In [528]:
p[::-1]

'trindowejo'

# Functional Programming

### Q - to swap number without x,y = y,x and temp variable?

In [ ]:
swapping without

In [65]:
a = 10
b = 20

In [66]:
a = a+b
b = a-b
a = a- b
print(a,b)

20 10

In [3]:
def ListMul(listData):
    listData[0] = 10000

myList = [10,20,30]
ListMul(myList)
print("Outside functions", myList) # This is because it is mutable data type

Outside functions [10000, 20, 30]

In [5]:
def Change(data):
    data = 20

myd = 10
Change(myd)
print("Outside functions", myd) # This is because it is immutable

Outside functions 10

In [ ]:
# Q - funtion to take a list value and create its cube if it is a number and make the changes for the orignal data

In [10]:
def cube(datalist):
    for i in range(0,len(datalist)):
        datalist[i] = datalist[i]**3
    
mylist = [2,3,4]
cube(mylist)
print("After function", mylist)

After function [8, 27, 64]

In [38]:
n1 = 6
n2 = 188

In [175]:
def lcm(n1,n2):
    x = max(n1,n2)
    while x != 0:
        if x%n1 == 0 and x%n2 == 0:
            return x
            break
        else:
            x = x + 1
            continue

In [43]:
def gcd(n1,n2):
    x = min(n1,n2)
    for i in range(x, 1, -1):
        if n1%i == 0 and n2%i == 0:
            return i
            break

In [47]:
gcd(8,16)

8

In [46]:
(8 * 16) / lcm(8,16)

8.0

# Q- Create a function which takes an parameter of string type 
-  Accept the string in case if the string contain  all vowels
-  Accept the string in case we have all vowels but in even position
otherwise return string not accepted

In [50]:
def checkvowels(word):
    word = word.lower()
    l = ['a', 'e', 'i', 'o', 'u']
    for x in word:
        if x in l:
            l.remove(x)
            continue
            
    if len(l)==0:
        print("Accepted")
    else:
        print("Not Accepted")

In [56]:
def checkevenvowels(word):
    word = word.lower()
    l = ['a', 'e', 'i', 'o', 'u']
    for i in range(0, len(word)):
        if i%2==0:
            if word[i] in l:
                l.remove(word[i])
                continue
        else:
            continue
            
    if len(l)==0:
        print("Accepted")
    else:
        print("Not Accepted")

In [58]:
checkevenvowels('aeiou')

Not Accepted

In [ ]:
# required argument : parameter == argument
# positional : based on the position on argument
# keyword : change position but we need

In [82]:
def lcmn(*args):
    w = lcm(args[0],args[1])
    for i in range(2,len(args)):
        w = lcm(w, args[i])
    return w

In [86]:
lcmn(2,10,5,20,40,80)

80

In [76]:
# First class function vs High order function

In [89]:
# Lambda function

In [92]:
o = lambda x: x+10

In [93]:
o(20)

30

In [95]:
l = ['str', 'aihsd', 'sdhia']
list(map(lambda x : x.split(" "), l))

[['str'], ['aihsd'], ['sdhia']]

In [106]:
 m = [(1,2), (4,6), (7,8),(8,9)]
dict(filter(lambda x: x[0]%2==0, m))

{4: 6, 8: 9}

In [112]:
# -  Now create list of dict value having keys as names and marks as key

In [169]:
a = [{'Name': 'Shivam', 'Marks': [10,20,30,40]}, {'Name': 'Mallik', 'Marks': [30,4,6,7,8]},
     {'Name': 'Puru', 'Marks': [10,22,33,40,60]}]

In [158]:
(lambda x: sum(x)/len(x))

In [167]:
formula = {'Average': lambda x: sum(x)/len(x), 'Max': lambda x:max(x),
           'Min': lambda x:min(x),'Sum': lambda x:sum(x)}

In [160]:
formula["Average"]([10,20,30])

20.0

In [162]:
formula["Max"]([10,20,30])

30

In [164]:
formula["Min"]([10,20,30])

10

In [165]:
formula["Sum"]([10,20,30])

60

In [171]:
for x in a:
    for k, v in x.items():
        if type(v) == list:
            print(formula["Average"](v))

25.0
11.0
33.0

In [176]:
ml = [(10,2), (4,2)]
list(map(lcm, ml))

TypeError: lcm() missing 1 required positional argument: 'n2'

In [203]:
list(map(lambda x: '2 X {} = {}'.format(x,2*x), range(1,11) ))

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']